{% extends "image_search/base.html" %}
{% load static %}
{% block title %}
上传服务
{% endblock title %}


{% block css %}
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" />
{% endblock css %}


{% block content %}
<div class="alert alert-warning" role="alert">
    Tips:提供图片上传 embdding 生成兴趣标签 建立非结构化数据库
</div>
<!-- Modal -->
<div class="modal fade" id="op1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">提示窗口</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                已经录入后台指纹库
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="op2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">提示窗口</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                已经生成兴趣标签
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="op3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">提示窗口</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                已经加入索引库
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="btn-group btn-group-justified" role="group" aria-label="Basic example">
    <form method='post' enctype="multipart/form-data" action="/upload/handle/">
        {% csrf_token %}
        <input type="file" class="btn-light" style="width: 8em;" name="pic">
        </input>
        <br>
        <button type="submit" class="btn-lg btn-light" value="上传">
            <i class="fa fa-upload "></i>
            上传图片
        </button>
    </form>
    <button type="button" class="btn-lg btn-light" data-bs-toggle="modal" data-bs-target="#op1">
        生成图片指纹
    </button>
    <button type="button" class="btn-lg btn-light" data-bs-toggle="modal" data-bs-target="#op2">
        生成兴趣标签
    </button>
    <button type="button" class="btn-lg btn-light" data-bs-toggle="modal" data-bs-target="#op3">
        加入索引库
    </button>
    <button type="button" class="btn-lg btn-light ">
        <a href="/upload/upload_view" style="color: black;text-decoration:none;">
            一键同步
        </a>
    </button>
</div>

<br>
<br>
<button type="button" class="btn-lg btn-success">
    已上传图片 <span class="badge bg-secondary">total:{{imageinfo_len}}</span>
</button>
<div class="row row-cols-4 row-cols-md-5 g-4 ">
    {% for image in imageinfo %}
    <div class="col">
        <div class="card h-100">
            <a href={{ MEDIA_URL }}{{ image.image }} target="view_window">
                <img src={{ MEDIA_URL }}{{ image.image }} class="card-img-top" alt={{ MEDIA_URL }}{{ image.image }}></a>
            <div class="card-body">
                <h5 class="card-title">{{image.imagename}}</h5>
                <p class="card-text">
                    <strong>描述</strong>:{{image.describe}}</p>
            </div>

            <div class="card-footer">
                <small class="text-muted">{{image.createtime}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<button type="button" class="btn-lg btn-danger">
    点赞图片<span class="badge bg-secondary">total:{{likeinfo_len}}</span>
</button>
<div class="row row-cols-4 row-cols-md-5 g-4">
    {% for image in likeinfo %}
    <div class="col">
        <div class="card h-100">
            <a href={{ MEDIA_URL }}{{ image.image }} target="view_window">
                <img src={{ MEDIA_URL }}{{ image.image }} class="card-img-top" alt={{ MEDIA_URL }}{{ image.image }}></a>
            <div class="card-body">
                <h5 class="card-title">{{image.imagename}}</h5>
                <p class="card-text">{{image.describe}}</p>
            </div>
            <button class="btn btn-sm btn-info"><i class="fa fa-thumbs-up " style="color: white;"></i>点赞
                {{image.like_number}}</button>
            <div class="card-footer">
                <small class="text-muted">{{image.username}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}

{% block js %}
<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>

{% endblock js %}